@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 40px auto;
}

.main {
  background: url(../img/hero\ image.png);
}

.btn {
  padding: 26px 38px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  height: 72px;
  width: 217px;
  color: #fff;
  background: #0075FF;
  border-radius: 14px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 150px;
  color: #211F54;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
.header__box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__box__text {
  margin-left: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
.header__cart {
  border-right: 1px solid #fff;
}
.header__btn {
  padding: 19px 24px;
  margin-left: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  height: 54px;
  width: 174px;
  color: #fff;
  background: #0075FF;
  border-radius: 14px;
}

.img__logo {
  width: 1220px;
  height: 676px;
  margin-top: 90px;
  margin-left: 100px;
}
.img__box {
  width: 556px;
  height: 401px;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 401px;
  left: 925px;
  margin-top: -545px;
  color: #fff;
  gap: 18px;
  text-align: left;
}
.img__text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
}
.img__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
}
.img__text2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 21px;
}

.services__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  text-align: left;
  color: #211F54;
}
.services__box {
  display: flex;
  gap: 800px;
}
.services__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  color: #211F54;
  justify-content: center;
  margin-top: 55px;
}
.services__img {
  margin-left: 160px;
}

.foot__img {
  margin-left: 275px;
}